*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# LaTeX temporary files
*.aux
*.log
*.toc
 
# PDF output - usually a bad idea to keep this in Git
*.pdf
 
# Latexmk
*.fdb_latexmk
 
# SyncTeX
*.synctex.gz
 
# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out
 
# BibTeX
*.bbl
*.blg
 
# Log created by Adobe Reader
C:\\nppdf32Log\\debuglog.txt
 
# Sublime Text Project Files (usually contain absolute paths)
*.sublime-project
*.sublime-workspace

